body {margin: 0 ;
	  height: 100%;
	  position: relative;}

.main-container {min-height: 100vh;
                overflow: hidden;
                position: relative;
                padding-bottom: 121px;
                display: block}

.põhiline {text-align: center;
		   text-align: justify;
		   padding-left: 220px;
	 	   padding-right: 220px;
		   font-family: Times New Roman;
		   font-size: 16px;
		   background-color: #247038;}

.peakast {background-color: #fff;
		  padding-left: 20px;
		  padding-right: 20px;
	      padding-bottom: 1px;
		  padding-top: 20px;}

h2 {text-align: left;}

.kokkuvõte {text-align: center;}

.pilt_toode {float: right;
			margin-left: 25px;
			margin-bottom: 5px;}