body {margin: 0 ;
	  height: 100%;
	  position: relative;}

.main-container {min-height: 100vh;
                overflow: hidden;
                position: relative;
                padding-bottom: 120px;
                display: block;}

.põhiline {text-align: center;
		   text-align: justify;
		   padding-left: 220px;
		   padding-right: 220px;
		   background-color: #1E8BAC;}

.peakast {background-color: #fff;
		  padding-left: 20px;
		  padding-right: 20px;
		  padding-bottom: 1px;
		  padding-top: 20px;}

.main_pealkiri {text-align: center;}

.kast1 {font-size: 16px;
		font-family: Times New Roman;}

.pilt_toode {float: left;
  			 margin-right:35px;}